<% var success=typeof success !=='undefined' ? success : '' ; %>
  <% var error=typeof error !=='undefined' ? error : '' ; %>

    <!-- For success -->
    <% if (success && success.length) { %>
      <div class="flash-message flash-message-success" role="alert">
        <i class="fa-solid fa-circle-check"></i>
        <span>
          <%= success %>
        </span>
        <button type="button" class="close-btn" aria-label="Close">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <% } %>

        <!-- For Error or Failure -->
        <% if (error && error.length) { %>
          <div class="flash-message flash-message-error" role="alert">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span>
              <%= error %>
            </span>
            <button type="button" class="close-btn" aria-label="Close">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <% } %>